<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Ab Routines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcReB1n5e45R9yOd3HFgSSmy2LOtExbU331qEdYZckqO30DtIm4-" alt="Abs" width="140" height="116" class="b">

<div class="center">
  <h3>
 Ab Routines</h3>

</div>
</div>

  <ol>
    <li>Exercise Ball Crunch</li>
    <iframe width="320" height="192" src="https://youtube.com/embed/Imui46JTe7s" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
  <li>Bicycle Crunch</li>
<iframe width="320" height="192" src="https://youtube.com/embed/9FGilxCbdz8" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Leg Raises</li>
<iframe width="320" height="192" src="https://youtube.com/embed/ghwdoXHeiIk" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Leg Crunch</li>
<iframe width="320" height="192" src="https://youtube.com/embed/H-RuFL---Kc" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Long Arm Crunch</li>
<iframe width="320" height="192" src="https://youtube.com/embed/3fDjzzfovZE" frameborder="0" allowfullscreen></iframe>
</iframe>
<li>Reverse Crunch</li>
<iframe width="320" height="192" src="https://youtube.com/embed/hyv14e2QDq0" frameborder="0" allowfullscreen></iframe>
</iframe>
</ol>

<center>
<form method="get" action="/level">
    <div class="container">
      <button id="button" type="submit">Complete Routine</button>
    </div>
  </form>
</center>

<div class="push"></div>
</div>


<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <a href="calendar"><i class="fa fa-calendar"></i></a>
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
<script src="/js/script.js"></script>
</body>
</html>