<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Basic Routines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://barbend.com/wp-content/uploads/2019/04/Push-Up-Guide-1024x604.jpg" alt="Pushups" width="140" height="116" class="b">

<div class="center">
  <h3>
 Basic Routines</h3>

</div>
</div>

  <ol>
    <li>Stretch for a minute</li>
    <iframe width="320" height="192" src="https://youtube.com/embed/sTxC3J3gQEU" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
  <li>Do 25 pushups</li>
<iframe width="320" height="192" src="https://youtube.com/embed/IODxDxX7oi4" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Do 50 situps</li>
<iframe width="320" height="192" src="https://youtube.com/embed/jDwoBqPH0jk" frameborder="0" allowfullscreen></iframe>
</iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Do 30 jumping jacks</li>
<iframe width="320" height="192" src="https://youtube.com/embed/UpH7rm0cYbM" frameborder="0" allowfullscreen></iframe>
</iframe>
</ol>

<form method="get" action="/level">
    <div class="container">
      <button type="submit">Finish</button>
    </div>
  </form>


<div class="push"></div>
</div>


<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
<script src="/js/script.js"></script>
</body>
</html>