<!DOCTYPE html> 
<html>

<head>
  <title>Your Calendar</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
    <h1 style="text-align:center;">Your Calendar</h1>
    <h2>Your calendar is looking pretty empty! Try out some routines to get the ball rolling.</h2>
    <iframe src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>

<div class="push"></div>
</div>

    <div class="navbar">
        <a href="home"><i class="fa fa-fw fa-home"></i></a>
        <a href="search"><i class="fa fa-fw fa-search"></i></a>
        <a href="calendar"><i class="fa fa-calendar"></i></a>
        <a href="profile"><i class="fas fa-fw fa-user"></i></a>
      </div>
</body>
</html>