<!DOCTYPE html> 
<html>

<head>
  <title>Warmup - Intro to Cardio</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
<a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://www.quickanddirtytips.com/sites/default/files/styles/article_main_image/public/images/12691/cardio-compressor.png?itok=Gx1P0og1" alt="Exercise" width="140" height="116" class="b"/>
<div class="center"><h3 style="font-family: georgia;">Intro to Cardio</h3>
</div></div>

<p style= "font-family: sans-serif; font-size: 115%; font-weight: normal">
  <br>Cardio is any exercise that raises your heart and breathing rates, and improving the function of your heart, lungs and circulatory system. It involves a variety of intensity which welcomes people of all experience. 
  <br>
  <br>Cardiovascular training is import because it not only increases your capacity to take in oxygen, it gets your blood pumping to your muscles, and also clears carbon dioxide and other waste products from your system. In summary, cardio training improves your heart and lungs function during exercise and rest and reduces stress on your most vital muscle - the heart. </p>


 <div class="row">
  <div class="column" style="background-color:#ffffff;">
    <h3><a href="treadmill">Treadmill</a></h3>
  </div>

  <div class="column" style="background-color:#ffffff;">
    <h3><a href="elliptical">Elliptical</a></h3>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#ffffff;">
    <h3><a href="bikes">Exercise Bike</a></h3>
  </div>
  <div class="column" style="background-color:#ffffff;">
    <h3><a href="beginner">Beginner Cardio Routines</a></h3>
  </div>

</div>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>


</body>
</html>