
<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Elliptical</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
<div class="header">
   <div class="left"><a href="cardio"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://tshop.r10s.com/7e0/6d6/ebb8/1ad8/400a/60a1/7238/11d2e9ad0f0242ac110002.jpg" alt="Elliptical" width="140" height="116" class="b">

<div class="center">
  <h3>
 Elliptical</h3>

</div>
</div>

<h4>Why should you use an elliptical?</h4>
<p>Ellipticals offer the benefit of a low-impact workout while exercising both your upper and lower body. Elliptical trainers can be forgiving to aging joints while giving you a good aerobic workout and helping you burn calories for weight loss.</p>

<h4>How long should you do this for?</h4>
<p>When first starting off, you should get comfortable by alternating between low and moderate intensity for approximately 20 minutes.</p> 

<center>
      <iframe width="320" height="192" src="https://youtube.com/embed/VC4LMjwbtf4" frameborder="0" allowfullscreen></iframe>
      </iframe>
</center>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</div>
</body>
</html>