<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Exercise Bikes</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
<div class="header">
  <div class="left"><a href="cardio"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdHo-Y0lPtyURlMMCErjvPObpQlrr1VjJVSu2QiuTayGk7fVFftQ&s" alt="Bike" width="140" height="116" class="b">

<div class="center">
  <h3>
 Exercise Bike</h3>

</div>
</div>

<h4>Why should you use an exercise bike?</h4>
<p>Heart and Health Benefits. Riding an exercise bike can strengthen your heart and lungs, while also improving your body's ability to utilize oxygen. Using a stationary bike regularly can also help regulate high blood pressure and improve respiratory function.</p>

<h4>How long should you do this for?</h4>
<p>Beginners should exercise for 15 minutes. Increase this to 25 minutes after some time.</p> 

<center>
      <iframe width="320" height="192" src="https://youtube.com/embed/TZjvXjecexI" frameborder="0" allowfullscreen></iframe>
      </iframe>
</center>

<center>
<form method="get" action="/level">
    <div class="container">
      <button id="button" type="submit">Complete Routine</button>
    </div>
  </form>
</center>

<div class="push"></div>
</div>
<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <a href="calendar"><i class="fa fa-calendar"></i></a>
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>