<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Killer Cardio Routine</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body> 
  <div class="content">

<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://i.insider.com/5da1a3ddcc4a0a79db630ae3?width=1100&format=jpeg&auto=webp" alt="Killer" width="140" height="116" class="b">

<div class="center">
  <h3>Killer Cardio Routine</h3>

</div>
</div>

<ol>
  <li>Stair Master workout for 20 minutes</li>
      <iframe width="320" height="192" src="https://youtube.com/embed/tl90dPJ9Od8" frameborder="0" allowfullscreen></iframe>
      </iframe>
  <hr style ="margin-left:-10px"; width= "95%";>    
  <li>Jump Rope for 15 minutes</li>
      <iframe width="320" height="192" src="https://youtube.com/embed/FJmRQ5iTXKE" frameborder="0" allowfullscreen></iframe>
      </iframe>
</ol>

<center>
<form method="get" action="/level">
    <div class="container">
      <button id="button" type="submit">Complete Routine</button>
    </div>
  </form>
</center>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>