<!DOCTYPE html> 
<html>

<head>
  <title>Warmup</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  
  <div class="content">
    <div class="container">
        {{!-- <br>
        <h3 style="font-family: georgia; font-weight: bold;">
          Looking for Exercises?</h3> --}}
      </div>

    {{!-- <div class="container">
<div class="center">
      <center>
<img src="/pics/warmuplogo.png" alt="Warm Up">
</center>
</div></div> --}}

<div class="container"id="headerSearch">
  <h5 style="font-size: 30px;">Looking for</h5>
  <h5 style="font-size: 25px; line-height:12px">something <strong><i>specific?</i></strong></h5>
</div>

<div class="center">
<div class="containerSearch">
  <input type="text" placeholder="Search here..." id="search" required></div>
  <button id="button" type="button" onclick="searchWebsite()">Search</button>
  </div>

<div class="push"></div>
</div>
{{!-- </div> --}}
<script src="/js/script.js"></script>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <a href="calendar"><i class="fa fa-calendar"></i></a>
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>