<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Treadmill</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
<div class="header">
  <div class="left"><a href="cardio"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://www.lifespanfitness.com/media/catalog/product/cache/7dad9f6272e2957bf1bb775efb7a7e9c/l/i/lifespan-tr4000i-home-treadmill.jpg" alt="Treadmill" width="140" height="116" class="b">

<div class="center">
  <h3>
  Treadmill</h3>

</div>
</div>

<h4>Why should you use a treadmill?</h4>
<p>For many, treadmills are a good choice to begin a new exercise routine because walking is well tolerated by most individuals regardless of fitness level and for most back conditions. As strength and endurance are developed, the treadmill can be used for jogging and/or for interval training.</p>

<h4>How long should you do this for?</h4>
<p>If you are new to exercise, a brisk walking pace for at least 30 minutes is a good pace. As your fitness improves, you can increase your intensity by turning up the speed on the treadmill.</p> 

<center>
<head>
      <title>Treadmill</title>
   </head>
   <body>
      <iframe width="320" height="192" src="https://youtube.com/embed/aKfJJ1TuyE4" frameborder="0" allowfullscreen></iframe>
      </iframe>
   </body>
</center>

<center>
<form method="get" action="/level">
    <div class="container">
      <button id="button" type="submit">Complete Routine</button>
    </div>
  </form>
</center>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>