<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Intro to Weightlifting</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
<div class="header">
  <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div>
  <a href="home" class="logo">Warmup</a>
</div>

<div class="container">
  <img src="https://www.mensjournal.com/wp-content/uploads/mf/_main_liftlift.jpg?w=1200&h=1200&crop=1" alt="Weightlifting" width="140" height="116" class="b">

<div class="center">
  <h3 style="font-family: georgia;">
  Intro to Weightlifting</h3>

</div>
</div>

<p style= "font-family: sans-serif; font-size: 115%; font-weight: normal">
  <br>Weightlifting, otherwise known as weight training, is a type of strength training that uses weight for resistance. By creating a stress to the muscles performed with free weights (e.g. barbells and dumbbells) or by using weight machines, these exercises will enable the muscles to be activated and over time get stronger.<br><br>The most important part about weight training is proper technique. Incorrect form can lead to many juries and strain that might hinder your weight training. When first beginning to weightlift, start off with lighter weight to emphasize form and technique. As you make progress and gain more confidence, you will pick up more training techniques. </p style= "font-family: serif; font-size: 115%;">
<ol>
<li>Use the dumbbell to do 10 overhead presses</li> 
<iframe width="320" height="192" src="https://youtube.com/embed/M2rwvNhTOu0" frameborder="0" allowfullscreen></iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Squat with the kettlebell 10 times</li>
<iframe width="320" height="192" src="https://youtube.com/embed/IGpHeghDUw8" frameborder="0" allowfullscreen></iframe>
<hr style ="margin-left:-10px"; width= "95%";>
<li>Use the barbell to deadlift 5 times</li>
  <iframe width="320" height="192" src="https://youtube.com/embed/3UwO0fKukRw" frameborder="0" allowfullscreen></iframe>
</ol>

<center>
<form method="get" action="/level">
    <div class="container">
      <button id="button" type="submit">Complete Routine</button>
    </div>
  </form>
</center>

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>