html, body {
  height: 100%;
  margin:0;
}

.header {
  overflow: hidden;
  width: 100%;
  /*background: #C3C2DC;*/
/*padding: 60px
  color: white;
  line-height: 60px;*/
}

/* Style the header links */
/* Warmup/Profile header*/
.header a {
  width: 100%;
  float: left;
  color: #413fb2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  /*border-radius: 4px;*/
  font-family: georgia, serif; 
  /*margin-top: 0;*/
}

/*separate header for 'explore routines' for spacing*/
.headerExplore a {
  width: 100%;
  float: left;
  color: #413fb2;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 22px;
  line-height: 18px;
  /*border-radius: 4px;*/
  font-family: georgia, serif; 
  /*margin-top: 0;*/
}

/*BACKGROUND COLOR*/
/*need to fix gradient repeat*/
body{
  background: linear-gradient(#fbfcdb, #e9defa);
  height: 100%;
  /*min-height: 100%;*/
  margin: 0;
  /*background-repeat: no-repeat;*/
  background-attachement: fixed;
  /*background-size: contain;*/
  text-align: center;
  position: relative;
  display: block;
}

h3, h2, p{
text-align: center;
font-family: 'Muli', sans-serif;
font-weight: 600;
}

h3{
  font-size: 2em;
  color: #413fb2;
}

h2{
  font-size: 2em;
  font-weight: 600;
}

/*get started! - HOME*/
h1{
	color: #413fb2;
	/*margin-bottom:0px;*/
	font-weight: bold;
	padding-top: 15px;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.b {
  margin: 10px 0px;
  opacity: 0.4;
  width: 50%;
  height: auto;
  left: 0%;
  position: relative;
}

.container{
  position: relative;
  text-align: center;
  /*left: 15px;*/
  display: block;
  white-space: nowrap;
}

.containerUsername{
  position: relative;
  text-align: center;
  left: -19px;
  display: block;
  white-space: nowrap;
}

/*manually shift password line so it aligns w/ username line - INDEX */
.containerpassword{
  position: relative;
  /*text-align: center;*/
  left: -15px;
  display: block;
  white-space: nowrap;
}

/*manually shift login button and remember me - INDEX */
.containerlogin{
  position: relative;
  /*text-align: center;*/
  /*left: 65px;*/
  display: block;
  white-space: nowrap;
}

/*manually shift new? create an account line- INDEX */
.containercreate{
  position: relative;
  /*text-align: center;*/
  /*left: 1px;*/
  display: block;
  white-space: nowrap;
}

.center{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}


#button {
	background-color: white;
	font-family: georgia; 
	color: #666666;
}

/*select option for 'how confident' - SURVEY*/
#select1{
	background-color: white; 
}

/*select option for 'how many days' - SURVEY*/
#select2{
	background-color: white; 
}

/*select option for 'what are you hoping to accomplish - SURVEY*/
#select3{
	background-color: white; 
}

/*COLORED HEADER/BOX ON PROFILE PAGE*/
/*#headerBox{
	width: 100%;
	background-color: #C3C2DC;
	padding: 110px; 
}*/

#clear {
  clear:right;
}

/* Create two equal columns that floats next to each other */
/* ROUTINE/CATEGORY */
.column {
  float: left;
  width: 85%;
  padding: 10px;
  /*margin: 20px;*/
  margin-left: 40px; 
  margin-right:40px;
  margin-top:10px;
  margin-bottom:15px;
  /*border-left-style: solid;
  border-width: 15px;
  border-color: #c6c5e8;*/
  border-radius: 5px;
  
}

/*routine link color*/
.column a{
	color: #413fb2;
	font-family: georgia, serif;
}


/* FOOTER */
.navbar {
  position: fixed;
  /*border-radius: 25px;*/
  width: 100%;
  background-color: #c3c2dc;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  /*border-radius: 2px;*/
  float: left;
  padding: 15px;
  color: white; /* icons color*/
  text-decoration: none;
  font-size: 35px;
  /*width: 25%*/
  width: 33.33%; 
  text-align: center; 
}

a:hover h2{
  color: rgb(43, 43, 43);
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

form{

  /*padding: 40px;*/
  display: inline-block;
  height: 10%;
  width: 50%;
  margin: 20px;
}

iframe{
  right: 300px;
  padding: 20px;
  margin: auto;
}

.left {
  position: absolute;
}

.content{
  min-height: 100%;
  margin-bottom: -100px;
}

.push{
  height: 100px;
}

/*Welcome 'name'*/
.size1{
  font-size: 30px;
  font-family: georgia;
  color: #ffffff;
}

/*button 'upload a profile pic'*/
.size2{
  font-size: 16px;
  color: #666666;
}

/*'gender', 'height', 'weight'*/
.size3{
  font-size: 16px;
  font-family: georgia;
  color: #6F6E85;
}

.post-title{
  float:left;
  border-radius: 20px;
  overflow: hidden;
}

/*create space/tab ex: between 'gender' and '{gender} on PROFILE page*/
.tab {
	position: absolute;
	left: 315px;
}



