html, body {
  height: 100%;
  margin:0;
}

/*styles routine names + bg pics*/
.header {
  overflow: hidden;
  width: 100%;
  /*background: #C3C2DC;*/
  /*padding: 60px
  color: white;
  line-height: 60px;*/
}

/* Style the header links */
/* Warmup/Profile header*/
.header a {
  width: 100%;
  float: left;
  color: #413fb2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  /*border-radius: 4px;*/
  font-family: georgia, serif; 
  /*margin-top: 0;*/
}

/*separate header for 'explore routines' for spacing*/
.headerExplore a {
  width: 100%;
  float: left;
  color: #413fb2;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 22px;
  line-height: 18px;
  /*border-radius: 4px;*/
  font-family: georgia, serif; 
  /*margin-top: 0;*/
}

#headerSearch{
	width: 100%;
	background-color: #C3C2DC;
	padding-top: 85px;
	padding-bottom:75px;
	font-family:georgia;
	color: #ffffff;
	font-size: 30px;
}


/*BACKGROUND COLOR*/
/*need to fix gradient repeat*/
body{
  /*background: linear-gradient(#fbfcdb, #e9defa);*/
  background: repeating-linear-gradient(#fbfcdb, #e9defa);
  height: 100%;
  /*min-height: 100%;*/
  margin: 0;
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  /*background-size: contain;*/
  text-align: center;
  position: relative;
  display: block;
}

h3, h2, p{
text-align: center;
font-family: 'Muli', sans-serif;
font-weight: 600;
}

/*routine header*/
h3{
  font-size: 2em;
  color: #413fb2;
  font-family: georgia;
}

h2{
  font-size: 2em;
  font-weight: 600;
}

/*get started! - HOME*/
h1{
	color: #413fb2;
	/*margin-bottom:0px;*/
	font-weight: bold;
	padding-top: 15px;
}

/*routine blurb title*/
h4{
	color: #565656;
	text-align: center;
	/*font-family: sans-serif;*/
	/*font-weight: bold;*/
}

/*routine blurb text*/
p{
	color: #666666;
	margin-left: 15px;
	margin-right: 15px;
	font-family: sans-serif;
	font-size: 115%;
	font-weight: normal;
}

ol li {
	/*background: #ffe5e5;*/
	/*padding: -15px;*/
	margin-left: 17px;
	font-family: sans-serif;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/*routine background pics*/
.b {
  margin: 10px 0px;
  opacity: 0.3;
  width: 50%;
  height: auto;
  left: 0%;
  position: relative;
}

.container{
  position: relative;
  text-align: center;
  /*left: 15px;*/
  display: block;
  white-space: nowrap;
}

.containerSearch{
  position: relative;
  text-align: center;
  /*left: 15px;*/
  margin-top: -57px;
  display: block;
  white-space: nowrap;
}

.containerUsername{
  position: relative;
  text-align: center;
  left: -19px;
  display: block;
  white-space: nowrap;
}

/*manually shift password line so it aligns w/ username line - INDEX */
.containerpassword{
  position: relative;
  /*text-align: center;*/
  left: -15px;
  display: block;
  white-space: nowrap;
}

/*manually shift login button and remember me - INDEX */
.containerlogin{
  position: relative;
  /*text-align: center;*/
  /*left: 65px;*/
  display: block;
  white-space: nowrap;
}

/*manually shift new? create an account line- INDEX */
.containercreate{
  position: relative;
  /*text-align: center;*/
  /*left: 1px;*/
  display: block;
  white-space: nowrap;
}

.center{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}


#button {
	background-color: white;
	font-family: georgia; 
	color: #666666;
	font-weight: normal;
}

/*select option for 'how confident' - SURVEY*/
#select1{
	background-color: white; 
}

/*select option for 'how many days' - SURVEY*/
#select2{
	background-color: white; 
}

/*select option for 'what are you hoping to accomplish - SURVEY*/
#select3{
	background-color: white; 
}

#clear {
  clear:right;
}

/* Create two equal columns that floats next to each other */
/* ROUTINE/CATEGORY */
.column {
  float: left;
  width: 85%;
  padding: 10px;
  /*margin: 20px;*/
  margin-left: 40px; 
  margin-right:40px;
  margin-top:10px;
  margin-bottom:15px;
  /*border-left-style: solid;
  border-width: 15px;
  border-color: #c6c5e8;*/
  border-radius: 5px;
  
}

/*routine link color*/
.column a{
	color: #413fb2;
	font-family: georgia, serif;
}


/* FOOTER */
.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c3c2dc;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  /*border-radius: 2px;*/
  float: left;
  padding: 15px;
  color: white; /* icons color*/
  text-decoration: none;
  font-size: 35px;
  /*width: 25%*/
  width: 25%; 
  text-align: center; 
}

a:hover h2{
  color: rgb(43, 43, 43);
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

form{

  /*padding: 40px;*/
  display: inline-block;
  height: 10%;
  width: 50%;
  margin: 20px;
}

iframe{
  right: 300px;
  padding: 20px;
  margin: auto;
}

.left {
  position: absolute;
}

.content{
  min-height: 100%;
  /*margin-bottom: -100px 0;*/
  margin-bottom: 0;
}

.push{
  /*height: 100px;*/
}

/*Welcome*/
.size1{
  font-size: 30px;
  font-family: georgia;
  color: #ffffff;

}

.sizeName{
  font-size: 30px;
  font-family: georgia;
  color: #413FB2;
  /*margin-top: 0;
  top: 100px;*/
}

/*button 'upload a profile pic'*/
.size2{
  font-size: 16px;
  color: #666666;
}

/*'gender', 'height', 'weight'*/
.size3{
  font-size: 16px;
  font-family: georgia;
  color: #6F6E85;
}


.post-title{
  float:left;
  border-radius: 20px;
  overflow: hidden;
}

/*create space/tab ex: between 'gender' and '{gender} on PROFILE page*/
.tab {
	position: absolute;
	left: 300px;
}

.profilePic {
	position: relative;
	top: -110px;
	/*white-space: nowrap;*/
	/*font-size: 0;*/
}

.profilePic img {
	display: block;
	/*white-space: nowrap;*/
}

.profileInfo {
	position:relative;
	top: -100px;
}

/*Calendar */

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.remove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
